<% provide(:title, 'About Us') %>
<% content_for :carousel_section do %>
	

	<div class="carousel slide" id="mountains" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="item active">
			
	      <%= image_tag 'Car1.jpg' %>
	    </div>
	    <div class="item">    
	      <%= image_tag 'car2.jpg' %>
	    </div>
	    <div class="item"> 
	     <%= image_tag 'car3.jpg' %>
	      
	    </div>
	  </div>
	  
	  <a href="#artists" class="left carousel-control" data-slide="prev">
	   
	    <span class="icon-prev"></span>
	  </a>
	  <a href="#artists" class="right carousel-control" data-slide="next">
	   
	    <span class="icon-next"></span>
	  </a>
	
</div>

<% end %>
  <center>  
	  <h1>Feel free to contact us</h1>

	   <h2>
	     MUSIC THINGS BLA BLA
	     <a href="http://spotify.com">SPOTIFY MUSIC</a>
	   </h2>
   <a class="btn btn-primary" href="mailto:xxxxxx@whatever.com?subject=yyyyyyyyy Photography">Email Us</a>
</center>
</form>

<body>
  <!-- AddThis Smart Layers BEGIN -->
  <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ef8e36755cffe7"></script>
  <script type="text/javascript">
    addthis.layers({
      'theme' : 'dark',
      'share' : {
        'position' : 'left',
        'numPreferredServices' : 5
      }, 
      'follow' : {
        'services' : [
          {'service': 'facebook', 'id': 'mark'},
          {'service': 'twitter', 'id': 'levz23'}
        ]
      }   
    });
  </script>
  <!-- AddThis Smart Layers END --> </body>