<% provide(:title, 'Contact') %>

 <center> 
	<style>
	  p {
	    color: purple;
	</style>
	<h1>Contact</h1>
 <b><u> <p>020 777 8272</p> </u> </b>
<i><b><u><p>BBK LTD Fake Hill</p></u> </b>
<b><u><p>London</p></u></b>
<b><u><p>N6 5DZ</p></u></b></i>

	<p>
		<img src="http://maps.googleapis.com/maps/api/staticmap?center=51.576496,-0.145272&zoom=15&size=200x200&sensor=false">
		<img src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location=51.576496,-0.145272&heading=235&sensor=false">
  </p>
<button type="button">Contact Form!</button>
 </center>
 
<a href="mailto:xxxxxx@whatever.com?subject=yyyyyyyyy Photography">